@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

body{
    background-color: whitesmoke;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    color: black;
    margin: 0%;
    padding: 0%;
}

a{
    margin: auto;
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.container-fluid{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    position: fixed;
    width: 100%;
    height: 3em;
    color: white;
    padding: 3em;
    top: 0;
}

header h2{
    height: max-content;
    width: 20%;
}

header h2 a{
    font-size: 1.5em;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

.btn-toggle-nav{
    float: right;
}

.navbar-logo{
    text-decoration: none;
    font-family:'Ubuntu', sans-serif;
    font-weight: 600;
}

.navbar-left{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 80%;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li{
    font-size: 12px;
    list-style-type: none;
    position: relative;
}

nav ul li a{
    display: block;
    height: 100%;
    padding: 10px;
    text-decoration: none;
}

nav ul li ul{
    display: none;
    padding: 10px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    margin-top: 5px;
}

nav ul li:hover ul{
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 5px;
}

nav ul li ul li{
    width: 100px;
    font-size: 10px;
}

nav ul li ul li a{
    padding: 2px;
    text-align: left;
}

nav ul li ul li a:link{
    color: hsl(208, 49%, 24%);
    padding: 2px;
    text-align: left;
}

.inside-menu{
    flex-direction: column;
}

.account-action{
    align-content: center;
    padding: 2em;
    width: max-content;
    margin-right: 1em;
}

.nav-btn-login button, .nav-btn-signup button{
    margin: auto;
    padding: 1em;
    border-radius: 20px;
    border-width: 0.5px;
}

.nav-btn-login button{
    background-color: hsl(353, 100%, 62%);
    color: hsl(0, 0%, 100%);
}

.nav-btn-signup button{
    background-color: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
}

label{
    display: none;
    font-size: 26px;
    width: 25px;
    float: right;
}

#toggle{
    display: none;
}

/* Main Section */

.intro-section{
    background-image: linear-gradient(to top right, hsl(353, 100%, 62%), hsl(13, 100%, 72%));
    border-radius: 0px 0px 0px 100px;
    color: white;
    margin: auto;
    width: 100%;
    height: 85vh;
    display: flex;
    text-align: center;
    overflow: auto;
}

.intro-text{
    margin: auto;
}

.intro-text h1{
    font-size: 3em;
}

.intro-text h3{
    font-size: 1em;
    padding: 1em;
}

.intro-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.intro-buttons button{
    border-radius: 25px;
    padding: 1em;
    border-color: white;
}

.start-free-btn{
    background-color: white;
    color: hsl(353, 100%, 62%);
}

.start-free-btn a{
    color: hsl(353, 100%, 62%);
}

.learn-more-btn{
    background-color: hsl(353, 100%, 62%);
    color: white;
}

/* Section 2 */

.section-2{
    height: 115vh;
}

.section-2-header{
    text-align: center;
    padding: 1em;
    color: hsl(208, 49%, 24%)
}

.section-2-content{
    display: flex;
    overflow: hidden;
}

.left-side-s2{
    width: 50vw;
    padding: 5em;
}

.desktop-img{
    width: 50%;
    height: 100%;
    margin-right: -35%;
}

/* Section 3 */

.section-3{
    height: 50vh;
    background-image: linear-gradient(to bottom right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    border-radius: 0px 50px 0px 50px;
    color: white;
    display: flex;
    flex-direction: row;
}

.section-3 img{
    margin-left: auto;
}

/* Section 4 */

.section-4{
    height: max-content;
    display: flex;
    flex-direction: row;
}

.section-4 img{
    margin-left: -30%;
    height: 20%;
    margin-top: auto;
    margin-bottom: auto;
}

.section-2, .section-4 h3{
    color: hsl(208, 49%, 24%);
}

.s3-text {
    width: 75%;
    margin: auto;
    padding: 1em;
} 

.s4-text {
    width: 100%;
    margin: auto;
    max-width: 30em;
}

/* Footer */

.footer-menu{
    background-color: hsl(240, 10%, 16%);
    border-radius: 0px 100px 0px 0px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: left;
    overflow: auto;
}

.footer-logo a{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 2em;
}

footer ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    font-size: 1em;
    padding: 2em;
    width: 100%;
    justify-content: stretch;
}

footer ul li{
    list-style-type: none;
    text-decoration: none;
    padding: 4em;
    /* margin-left: 1em; */
    font-size: 1em;
    /* justify-content: left; */
    justify-content: stretch;
}

.footer-logo li{
    font-weight: 600;
    font-size: 5em;
}

footer ul li a{
    list-style-type: none;
    text-decoration: none;
}

footer ul li ul{
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    justify-content: left;
    padding: 0;
    padding-top: 1em;
}

footer ul li ul li{
    list-style-type: none;
    text-decoration: none;
    justify-content: left;
    padding: 0px;
}

.footer-inside-menu ul li ul li a{
    list-style-type: none;
    text-decoration: none;
    text-align: left;
    padding: 0px;
}

/* Media Query Phone */

@media only screen and (max-width: 500px){
    body{
        width: 100vw;
    }

    header label{
        display: block;
        float: right;
    }

    header input{
        float: right;
    }

    .navbar{
        flex-direction: column;
    }

    .navbar-left{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .navbar-left ul{
        flex-direction: column;
        height: max-content;
    }

    .navbar-left ul li{
        flex-direction: column;
        height: max-content;
    }

    .navbar-left ul li ul{
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .navbar-left a{
        display: block;
        width: 100%;
    }

    nav{
        /* display: none; */
        flex-direction: column;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #toggle:checked, .navbar-left{
        display: block;
    }

    .section-2{
        flex-direction: column;
        width: 80%;
        height: max-content;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .section-2-content{
        flex-direction: column-reverse;
    }

    .section-2-content img{
        margin: auto;
        justify-content: center;
    }

    .left-side-s2{
        margin: auto;
        padding-bottom: 10em;
    } 

    .desktop-img img{
        justify-content: center;
    }

    .section-3{
        flex-direction: column;
        height: max-content;
        text-align: center;
    }    

    .section-3 img{
        margin-top: -40%;
        justify-self: center;
        width: 100%;
    }

    .section-4{
        flex-direction: column;
        height: max-content;
    }

    .section-4 img{
        height: 25vh;
        width: auto;
        margin: auto;
    }

    .s4-text{
        text-align: center;
        padding: 0;
        width: 80%;
        margin: auto;
    }

    footer ul{
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin: 1em;
    }

    footer ul li{
        padding: 0.5em;
    }

    footer ul li ul{
        padding: 0;
    }
}

@media only screen and (min-width: 501px) and (max-width: 836px){
    .section-2{
        margin: auto;
        justify-content: center;
    }

    .section-2-content{
        flex-direction: column-reverse;
        width: 80%;
        height: max-content;
        margin: auto;
        justify-content: center;
    }

    .desktop-img{
        margin: auto;
    }

    .section-3 img{
        margin-top: -10%;
        margin: auto;
        justify-self: center;
        height: 25vh;
        width: auto;
    }

    .section-4{
        flex-direction: column;
    }
    .section-4 img{
        height: 50vh;
        width: auto;
        margin: auto;
    }
    footer ul li{
        flex-direction: column;
    }
}