@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

body{
    background-color: whitesmoke;
    font-family: 'Overpass', sans-serif;
    font-size: 16px;
    color: black;
    margin: 0%;
    padding: 0%;
}

a{
    margin: auto;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.container-fluid{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    position: fixed;
    width: 100%;
    height: 3em;
    color: white;
    padding: 3em;
    top: 0;
    z-index: 20;
}

header h2{
    height: max-content;
    width: 20%;
}

header h2 a{
    font-size: 1.5em;
}

ul a:link {
    text-decoration: none;
}

.btn-toggle-nav{
    float: right;
}

.navbar-logo{
    text-decoration: none;
    font-family:'Ubuntu', sans-serif;
    font-weight: 600;
    padding: 1rem 4rem;
}

nav{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.navbar-left{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 90%;
}

nav ul {
    list-style-type: none;
    display: flex;
    vertical-align: middle;
}

nav ul li{
    font-size: 0.75rem;
    font-weight: 600;
    height: max-content;
    list-style-type: none;
    position: relative;
}

nav ul li a{
    display: block;
    height: 100%;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
}

nav ul li ul{
    display: none;
    padding: 10px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
    margin-top: 5px;
}

nav ul li:active ul{
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 5px;
}

nav ul li ul li{
    width: 100px;
    font-size: 10px;
}

nav ul li ul li a{
    padding: 2px;
    text-align: left;
}

nav ul li ul li a:link{
    color: hsl(208, 49%, 24%);
    padding: 2px;
    text-align: left;
}

.inside-menu li a{
    flex-direction: column;
    color: hsl(208, 49%, 24%);
}

.nav-breaker{
    display: none;
}

.account-action{
    display: flex;
    align-content: center;
    width: max-content;
    margin: auto;
    padding: 1rem 4rem;
}

.nav-btn-login button{
    background-color: transparent;
    font-family:'Ubuntu', sans-serif;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    margin: auto;
    padding: 1em;
    width: 6rem;
    border: transparent;
    border-radius: 20px;
    border-width: 0.5px;
}

.nav-btn-login button:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    cursor: pointer;
}

.nav-btn-signup button{
    font-family:'Ubuntu', sans-serif;
    font-weight: 600;
    background-color: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    margin: auto;
    width: 6.5rem;
    padding: 1em;
    border-radius: 20px;
    border-width: 0.5px;
    border: transparent;
}

.nav-btn-signup button:hover{
    background-color: hsl(355, 100%, 74%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.carrot-input{
    display: none;
}

label{
    display: none;
    font-size: 26px;
    width: 25px;
    float: right;
}

#toggle{
    display: none;
}

/* Main Section */

.intro-section{
    background-image: linear-gradient( 90deg ,hsl(13, 100%, 72%), hsl(353, 100%, 62%) 80%);
    background-size: 100%;
    background-position: 20% 50%;
    border-radius: 0px 0px 0px 100px;
    color: hsl(0, 0%, 100%);
    margin: auto;
    width: 100%;
    height: 85vh;
    display: flex;
    text-align: center;
    overflow: auto;
    position: relative;
}

.background-intro{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.intro-text{
    margin: auto;
    z-index: 18;
}

.intro-text h2{
    font-size: 3em;
    width: 100%;
    margin: auto;
    text-align: center;
}

.intro-text p{
    font-size: 1em;
    padding: 1em;
}

.intro-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 19;
}

.intro-buttons button{
    border-radius: 25px;
    border-width: 1px;
    width: 8rem;
    padding: 1em;
    margin: 1rem;
}

.start-free-btn{
    border: 1px solid hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    font-family:'Ubuntu', sans-serif;
    font-weight: 600;
}

.start-free-btn:hover{
    background-color: hsl(355, 100%, 74%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.learn-more-btn{
    border: 1px solid hsl(0, 0%, 100%);
    background-color: transparent;
    color: hsl(0, 0%, 100%);
    font-family:'Ubuntu', sans-serif;
    font-weight: 600;
}

.learn-more-btn:hover{
    background-color: hsl(0, 0%, 100%);
    color: hsl(353, 100%, 62%);
    cursor: pointer;
}

/* Section 2 */

.section-2{
    height: 115vh;
}

.section-2-header{
    text-align: center;
    padding: 1em;
    color: hsl(208, 49%, 24%)
}

.section-2-content{
    display: flex;
    overflow: hidden;
}

.left-side-s2{
    width: 50vw;
    padding: 5em;
}

.desktop-img{
    width: 50%;
    height: 100%;
    margin-right: -35%;
}

/* Section 3 */

.section-3{
    height: 50vh;
    background-image: linear-gradient(to bottom right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    border-radius: 0px 50px 0px 50px;
    color: white;
    display: flex;
    flex-direction: row;
}

.section-3 img{
    margin-top: -5rem;
    margin-left: auto;
    height: max-content;
}

/* Section 4 */

.section-4{
    height: max-content;
    display: flex;
    flex-direction: row;
}

.section-4 img{
    margin-left: -30%;
    height: 20%;
    margin-top: auto;
    margin-bottom: auto;
}

.section-2, .section-4 h3{
    color: hsl(208, 49%, 24%);
}

.s3-text {
    width: 75%;
    margin: auto;
    padding: 1em;
} 

.s4-text {
    width: 100%;
    margin: auto;
    max-width: 30em;
}

/* Footer */

.footer-menu{
    background-color: hsl(240, 10%, 16%);
    border-radius: 0px 100px 0px 0px;
    width: 100%;
    display: flex;
    flex-flow: row;
    overflow: auto;
}

footer ul{
    color:hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    justify-content: space-evenly;
    font-size: 1em;
    width: 100%;
}

.footer-logo{
    color:hsl(0, 0%, 100%);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 2.5em;
    padding: 2em;
}

.footer-logo a{
    font-family: 'Ubuntu', sans-serif;
}

footer ul li{
    list-style-type: none;
    text-decoration: none;
    padding: 4em;
    font-size: 1em;
    justify-content: stretch;
}

footer ul li a{
    list-style-type: none;
    text-decoration: none;
}

footer ul li ul{
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    justify-content: left;
    padding: 0;
    padding-top: 1em;
}

footer ul li ul li{
    list-style-type: none;
    text-decoration: none;
    justify-content: left;
    padding: 0px;
}

.footer-inside-menu ul li ul li a{
    list-style-type: none;
    text-decoration: none;
    text-align: left;
    padding: 0px;
}

/* Media Query Phone */

@media only screen and (max-width: 500px){
    body{
        width: 100vw;
    }

    .container-fluid{
        width: 100vw;
    }

    .burger{
        display: block;
        position: fixed;
        right: 1em;
        top: 1em;
    }

    .burger-input{
        display: block;
        position: fixed;
        right: 1em;
        top: 1em;
    }

    header{
        flex-direction: column;
        margin: auto;
        padding: 1em;
        height: max-content;
        width: 90vw;
    }

    .navbar-left{
        display: none;
        background-color: hsl(0, 0%, 100%);
        border-radius: 10px;
        width: 75vw;
        height: auto;
        margin: auto;
    }

    .menuToggle{
        display: flex;
        flex-direction: column;
    }

    .navbar-left ul{
        height: max-content;
        display: block;
        align-self: center;
        margin: auto;
        padding: 0;
    }

    .subMenuShow {
        content-visibility: show;
    }

    .nav-toggle-link{
        display: contents;
        direction:inherit;
        color: hsl(208, 49%, 24%);
        height: 4rem;
    }

    nav ul li{
        flex-direction: column;
        height: max-content;
        color: hsl(208, 49%, 24%);
        font-size: 1em;
        z-index: 7;
        margin: auto;
        text-align: center;
    }

    .carrot{
        display: block;
    }

    .carrot-input{
        display: none;
    }

    .inside-menu{
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: hsl(240, 20%, 52%);
        content-visibility: hidden;
        height: max-content;
        width: 80%;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
    }

    .inside-menu-open{
        position: relative;
        display: inline-block;
    }

    .navbar-left a{
        color: hsl(208, 49%, 24%);
        display: flex;
        flex-flow: row;
        width: min-content;
        height: min-content;
        align-items: baseline;
    }

    .nav-breaker{
        display: initial;
    }

    .account-action{
        bottom: 5em;
        text-align: center;
        width: 90%;
        height: 100%;
        padding: 0;
        margin: auto;
        color: hsl(208, 49%, 24%);
        background-color: ivory;
    }

    .nav-btn-login button{
        background-color: transparent;
        color: hsl(0, 0%, 100%);
        margin: auto;
        padding: 1em;
        border: transparent;
        border-radius: 20px;
        border-width: 0.5px;
    }

    .nav-btn-signup button{
        background-color: hsl(0, 0%, 100%);
        color: hsl(353, 100%, 62%);
        margin: auto;
        padding: 1em;
        border-radius: 20px;
        border-width: 0.5px;
        border: transparent;   
    }

    .account-action button{
        color: hsl(208, 49%, 24%);
        z-index: 4;
        padding: 0;
    }

    nav{
        flex-direction: column;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #toggle:checked {
        display: none;
    }

    .desktop-img{
        width: 90%;
        justify-content: center;
    }

    .section-2{
        flex-direction: column;
        width: 100%;
        height: max-content;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .section-2-content{
        flex-direction: column-reverse;
    }

    .section-2-content img{
        margin: auto;
        justify-content: center;
    }

    .left-side-s2{
        margin: auto;
        width: 90%;
        text-align: center;
        padding-top: auto;
        padding-bottom: 10em;
        padding-left: 0;
        padding-right: 0;
    }

    .left-side-s2 p{
        margin: auto;
        padding: 1em;
    } 

    .desktop-img img{
        justify-content: center;
    }

    .section-3{
        flex-direction: column;
        height: max-content;
        text-align: center;
    }    

    .section-3 img{
        margin-top: -40%;
        justify-self: center;
        width: 100%;
    }

    .s3-text p{
        width: 90%;
        margin: auto;
        padding: 1em;
    }

    .section-4{
        flex-direction: column;
        text-align: center;
        height: max-content;
        padding-bottom: 4em;
    }

    .section-4 img{
        height: 25vh;
        width: auto;
        margin: auto;
    }

    .s4-text p{
        width: 85%;
        margin: auto;
        padding: 1em;
        max-width: 30em;
    }

    .footer-menu{
        flex-flow: column;
    }

    footer ul{
        flex-direction: column;
        text-align: center;
        padding: 0;
        margin: auto;
    }

    footer ul li{
        margin: auto;
        padding: 1em;
    }

    footer ul li ul{
        margin: auto;
        padding-top: 1em;
        opacity: 50%;
    }
}

@media only screen and (min-width: 501px) and (max-width: 836px){
    .navbar-left, .nav-toggle-link{
        color: #000;
        text-align: center;
    }

    nav ul li a {
        color: #000;
    }
    
    .section-2{
        margin: auto;
        justify-content: center;
    }

    .section-2-content{
        flex-direction: column-reverse;
        width: 80%;
        height: max-content;
        margin: auto;
        justify-content: center;
    }

    .desktop-img{
        margin: auto;
    }

    .section-3 img{
        margin-top: -10%;
        margin: auto;
        justify-self: center;
        height: 25vh;
        width: auto;
    }

    .section-4{
        flex-direction: column;
    }

    .section-4 img{
        height: 50vh;
        width: auto;
        margin: auto;
    }

    .footer-menu{
        flex-flow: column;
    }

    .footer-logo {
        color: rgb(255, 255, 255);
    }

    footer ul li{
        flex-direction: column;
    }
}